*~
target
.DS_Store
MANIFEST.MF
bin
.openshift
.gitkeep
/helloworld-jsp
README.html
CONTRIBUTING.html
RELEASE_PROCEDURE.html
.errai
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin
.nbattrs
*.log
.clover
*.swp
